{% extends 'index.html.twig' %}

{% block title %}Players{% endblock %}

{% block main_content %}

    <h1>Players</h1>

    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Player</th>
                <th style="width: 20%">Last activity <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                <th style="width: 10%">Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>
                        <i class="fa fa-circle {% if player.playNow %}circle-green{% else %}circle-red{% endif %} " aria-hidden="true"></i>
                        {{ player.name }}</td>
                    <td>{{ player.lastActivityH }}</td>
                    <td><a class="btn btn-primary btn-sm link-dialog"
                           title="{{ player.name }} - {{ player.uuid }}"
                           data-dialog-content-as-html="1"
                           href="{{ path('player_stats',{'uuid':player.uuid}) }}">
                            stats
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}