{% macro browse(path, files) %}

<div class="card file-browser">
    <div class="card-header">
        {{ _self.path(path) }}
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead>
            <th class="icon-col"></th>
            <th class="name-col" >{% trans %}Nazwa{% endtrans %}</th>
            <th class="size-col">{% trans %}Rozmiar{% endtrans %}</th>
            <th class="date-col">{% trans %}Data modyfikacji{% endtrans %}</th>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        {% if (file.isFile()) %}
                                <a class="link-dialog"
                                   title="{{ file.fileAbsoluteName }}"
                                   href="{{ path('file-manager-preview', {fileManagerFilePath:file.fileAbsoluteName}) }}">
                                {{ _self.fileIcon (file.ext) }}
                            </a>
                        {% else %}
                            <a href="{{ path(app.request.attributes.get('_route'), {fileManagerPath:file.fileAbsoluteName}) }}">
                                <img class="fileicon" src="/images/icons/small-n-flat/folder-green.png">
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if (file.isFile()) %}
                            <a class="link-dialog"
                               title="{{ file.fileAbsoluteName }}"
                               href="{{ path('file-manager-preview', {fileManagerFilePath:file.fileAbsoluteName}) }}">
                                {{ file.fileName|e }}
                            </a>
                        {% else %}
                            <a href="{{ path(app.request.attributes.get('_route'), {fileManagerPath:file.fileAbsoluteName}) }}">
                                {{ file.fileName|e }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ file.sizeH }}</td>
                    <td>{{ file.modifyTimeH }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="card-footer"></div>
</div>

{% endmacro %}

{% macro fileIcon (ext) %}
    {#    @TODO: obsługa ext #}
    <img class="fileicon" src="/images/icons/small-n-flat/file-empty.png">
{% endmacro %}

{% macro path (path) %}
    {% for item in pathToArray(path) %}
        <a href="{{ path(app.request.attributes.get('_route'), {fileManagerPath:item.url}) }}"
           class="btn btn-dark btn-sm">{{ item.name }}</a>
    {% endfor %}
{% endmacro %}