{% extends 'index.html.twig' %}
{% import 'helpers/preloader.twig' as preloader %}

{% block title %}Konsola{% endblock %}

{% block main_content %}
    <div class="console-container">
        <div class="log">
{#            <img id="command_loader" src="/images/command-loader.gif">#}
            <pre id="console">{{ preloader.preloaderInline() }}</pre>
            <div class="console-control">
                <img id="input_loader" src="/images/input-loader.gif">
                <input
                        class="form-control"
                        placeholder="wpisz komendę.."
                        name="command[command]"
                        required="required"
                        id="command" />
                <button
                        class="btn btn-primary"
                        title="send.."
                        id="send_command"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        let loadConsoleUrl = "{{ path('current_log')|escape('js') }}";
        let sendCommandUrl = "{{ path('send_command')|escape('js') }}";
        let availableCommands = {{ availableCommands | raw }};

        let blockForm = false;

        $(document).ready(function () {
            load();
            setInterval(function(){
                if (blockForm) return;
                load();
            }, 3000);
        });

        $('#command').autocomplete({
            source: availableCommands,
            position: { my : "right bottom", at: "right top", collision: "none" }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                .append( "<div><span class='ui-autocomplete-label'>" + item.label + '</span><span class="mobile-hide"> - </span><span class="ui-autocomplete-desc mobile-hide">' + item.desc + "</span></div>" )
                .appendTo( ul );
        };

        $('#command').keypress(function (e) {
            if (e.which == 13) {
                send ();
            }
        });

        $('#send_command').click(function () {
            send ();
        });

        function load () {
            let shouldScroll = isConsoleOnBottom ('#console');
            $.get( loadConsoleUrl, function( data ) {
                if (data.data) {
                    $("#console").html(data.data);
                    $('#input_loader').hide();
                } else {
                    document.location.reload();
                }
                if (shouldScroll) {
                    consoleGoToBottom('#console');
                }
            });
        }

        function send () {
            if (blockForm) return;
            blockForm = true;
            $('#input_loader').show();
            $('#command').autocomplete("close");
            let data = $('#command').val();
            let token = "{{ csrf_token('command_token') }}";

            $.post( sendCommandUrl, {command: {command:data, _token: token}})
                .done(function(){
                    load();
                    $('#command').val("");
                    blockForm = false;
                })
                .fail(function(response){
                    $('#input_loader').hide();
                    alert("Nieoczekiwany błąd");
                    blockForm = false;
                });
        }

        function isConsoleOnBottom (selector) {
            let messageBody = document.querySelector(selector);
            let scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            if (messageBody.scrollTop==0) {
                return true;
            }
            return scrollTop-messageBody.scrollTop==0;
        }

        function consoleGoToBottom (selector) {
            let messageBody = document.querySelector(selector);
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */
        }
    </style>
{% endblock %}