{% extends 'frontend.html.twig' %}

{% block main_content %}

    <h1>Rank <span style="color: #ccc; font-size: 14px; float:right; margin-top: 12px; margin-right: 5px">({{ stat.datetime | date ("Y-m-d H:i:s") }})</span></h1>

{#    <p>#}
{#        <table class="table">#}
{#            <thead>#}
{#            <tr><th>Lp.</th><th>Player</th><th>Value</th></tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for item in mainRankRow.rank %}#}
{#                <tr>#}
{#                    <th>{{ item.position }}</th>#}
{#                    <td>{{ item.player }}</td>#}
{#                    <td>{{ item.value }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </p>#}

    <div id="accordion">
        {% for rankRow in rank %}
        <h3>
            {{ rankRow.category | replace ({'minecraft:': ""}) }} - {{ rankRow.key | replace ({'minecraft:': ""}) }}
        </h3>
        <div>
            <p>
                <table class="table">
                    <thead>
                        <tr><th>Lp.</th><th>Player</th><th>Value</th></tr>
                    </thead>
                    <tbody>
                        {% for item in rankRow.rank %}
                            <tr>
                                <th>{{ item.position }}</th>
                                <td>{{ item.player }}</td>
                                <td>{{ item.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $( "#accordion" ).accordion({
                heightStyle: "content"
            });
        } );
    </script>
{% endblock %}